package-db: /Users/Work/sandbox/nonogram/src/cabal-dev/packages-7.4.2.conf
local-repo: /Users/Work/sandbox/nonogram/src/cabal-dev/packages
user-install: False
remote-repo: hackage.haskell.org:http://hackage.haskell.org/packages/archive
remote-repo-cache: /Users/Work/.cabal/packages
world-file: /Users/Work/.cabal/world
build-summary: /Users/Work/sandbox/nonogram/src/cabal-dev/logs/build.log
remote-build-reporting: anonymous
install-dirs user
  prefix: /Users/Work/sandbox/nonogram/src/cabal-dev/
  libsubdir: $pkgid/$compiler
  libexecdir: $prefix/libexec
  docdir: $datadir/doc/$pkgid
install-dirs global
  prefix: /Users/Work/sandbox/nonogram/src/cabal-dev/
  libdir: $prefix/lib
  libsubdir: $pkgid/$compiler
  docdir: $datadir/doc/$pkgid